
.bat{
    transition:transform 0.3s ;
}
.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
}
.ball{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: seagreen;
    border-radius: 50%;
    left: 440px;
    transition: transform 1s ease-out 0.3s;
}
.field:hover .ball{
    
    transform: translate(400px,-200px)
    
}